.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  background-color: #fff;
  padding-bottom: 30px;
  max-width: 500px;
  height: 500px;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: #3c009d;
  font-size: 48px;
  font-weight: 700;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  gap: 25px;
}

.input {
  align-items: center;
  margin: 0 auto 20px;
  width: 280px;
  height: 50px;
}

.input label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.input input {
  height: 50px;
  width: 280px;
  border: none;
  outline: none;
  color: grey;
  font-size: 19px;
  background: #eaeaea;
  padding-left: 10px;
}

.submit-container {
  display: flex;
  margin: 60px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  color: #fff;
  background: #3c009d;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.congrats {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
}

.icon {
  display: flex;
  justify-content: center;
}
